In [1]:
import os

In [2]:
DATA_PATH_JSON = "./NLP-Teknofest24/NLPJSON/"
DATA_PATH_TXT = "./NLP-Teknofest24/NLPTXT-1028 Etiketlenen Raporlar/"

In [3]:
import json
d_list = list()
for i in range(1,5):
    with open(DATA_PATH_JSON+str(i)+"/all.jsonl",'r', encoding="utf-8") as f:
        for a in f.readlines():
            d_list.append(json.loads(a))

In [4]:
import pandas as pd

In [5]:
meta_data = pd.DataFrame(d_list)

In [6]:
meta_data = meta_data.drop("Comments",axis=1)

In [7]:
meta_data = meta_data.sort_values("id")

In [8]:
meta_data

,id,text,label
771,34,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMeme parankimi...,"[[31, 45, ANAT], [46, 59, OBS-PRESENT], [75, 8..."
772,35,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme p...,"[[31, 43, ANAT], [44, 54, ANAT], [58, 76, OBS-..."
773,36,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMemeler dağını...,"[[31, 38, ANAT], [39, 46, ANAT], [47, 79, OBS-..."
774,37,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMemeler ACR Ti...,"[[31, 38, ANAT], [39, 48, OBS-PRESENT], [50, 7..."
775,38,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme t...,"[[31, 43, ANAT], [45, 62, OBS-PRESENT], [63, 7..."
...,...,...,...
252,2078,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme para...,"[[32, 40, ANAT], [41, 58, ANAT], [58, 89, OBS-..."
253,2079,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme cilt...,"[[32, 40, ANAT], [40, 55, ANAT], [56, 65, OBS-..."
254,2080,UNİLATERAL MAMOGRAFİ RAPORU\nSol meme dokusu t...,"[[28, 44, ANAT], [44, 49, OBS-PRESENT], [49, 7..."
255,2081,UNİLATERAL MAMOGRAFİ İNCELEMESİ:\nSağ meme pat...,"[[33, 49, ANAT], [50, 63, OBS-PRESENT], [64, 7..."
256,2082,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme cilt...,"[[32, 39, ANAT], [40, 55, ANAT], [56, 65, OBS-..."

In [9]:
example_text = meta_data.iloc[0]

In [10]:
example_text

id                                                      34
text     BİLATERAL MAMOGRAFİ İNCELEMESİ\nMeme parankimi...
label    [[31, 45, ANAT], [46, 59, OBS-PRESENT], [75, 8...
Name: 771, dtype: object

In [11]:
data_df = meta_data.drop("id",axis=1)

In [13]:
data_df = data_df.reset_index().drop("index",axis=1)

In [14]:
data_df

,text,label
0,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMeme parankimi...,"[[31, 45, ANAT], [46, 59, OBS-PRESENT], [75, 8..."
1,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme p...,"[[31, 43, ANAT], [44, 54, ANAT], [58, 76, OBS-..."
2,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMemeler dağını...,"[[31, 38, ANAT], [39, 46, ANAT], [47, 79, OBS-..."
3,BİLATERAL MAMOGRAFİ İNCELEMESİ\nMemeler ACR Ti...,"[[31, 38, ANAT], [39, 48, OBS-PRESENT], [50, 7..."
4,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme t...,"[[31, 43, ANAT], [45, 62, OBS-PRESENT], [63, 7..."
...,...,...
1023,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme para...,"[[32, 40, ANAT], [41, 58, ANAT], [58, 89, OBS-..."
1024,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme cilt...,"[[32, 40, ANAT], [40, 55, ANAT], [56, 65, OBS-..."
1025,UNİLATERAL MAMOGRAFİ RAPORU\nSol meme dokusu t...,"[[28, 44, ANAT], [44, 49, OBS-PRESENT], [49, 7..."
1026,UNİLATERAL MAMOGRAFİ İNCELEMESİ:\nSağ meme pat...,"[[33, 49, ANAT], [50, 63, OBS-PRESENT], [64, 7..."
1027,UNİLATERAL MAMOGRAFİ İNCELEMESİ\nSol meme cilt...,"[[32, 39, ANAT], [40, 55, ANAT], [56, 65, OBS-..."

In [14]:
# !pip install keras

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# First split: Train+Validation and Test
train_val_df, test_df = train_test_split(data_df, test_size=250, random_state=42)

# Second split: Train and Validation
train_df, val_df = train_test_split(train_val_df, test_size=0.25, random_state=42)

In [18]:
val_df

,text,label
919,BİLATERAL MAMOGRAFİ İNCELEMESİ\nBilateral meme...,"[[31, 55, ANAT], [57, 77, OBS-PRESENT], [79, 8..."
159,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nMeme paterni ...,"[[32, 36, ANAT], [37, 44, ANAT], [45, 53, OBS-..."
607,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nCilt ve cilta...,"[[32, 48, ANAT], [49, 71, ANAT], [75, 91, ANAT..."
674,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nMemeler ACR T...,"[[32, 39, ANAT], [40, 49, OBS-PRESENT], [50, 5..."
749,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme A...,"[[31, 43, ANAT], [44, 53, OBS-PRESENT], [67, 8..."
...,...,...
897,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nHer iki meme ...,"[[32, 54, ANAT], [56, 69, ANAT], [70, 75, OBS-..."
406,BİLATERAL MAMOGRAFİ İNCELEMESİ \nCilt-cilt...,"[[36, 40, ANAT], [40, 51, ANAT], [51, 61, ANAT..."
51,BİLATERAL MAMOGRAFİ İNCELEMESİ\nBilateral meme...,"[[31, 45, ANAT], [46, 60, ANAT], [61, 70, OBS-..."
812,BİLATERAL MAMOGRAFİ İNCELEMESİ \nCilt-cilt...,"[[36, 61, ANAT], [62, 72, OBS-PRESENT], [73, 8..."
34,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki memede...,"[[31, 45, ANAT], [46, 53, OBS-ABSENT], [61, 79..."

#### B-LABEL, I-LABEL şeklinde ayıran ve {'start': 31, 'end': 35, 'label': 'B-ANAT', 'token': 'Meme'} şeklinde bir dict'e çeviren metod

In [18]:
def transform_label_IOB(text: str, label: list) -> list[dict]:
    label_list_dict = []
    start : int = label[0]
    end : int = label[1]
    catg : str = label[2]
    part = text[start:end]
    token_list = part.split(" ")
    first_token = token_list[0]
    new_repr_begin = {"start": start, "end": start+len(first_token), "label": "B-"+catg, "token":first_token}
    start += len(first_token) + 1
    label_list_dict.append(new_repr_begin)
    for i, t in enumerate(token_list):
        if i == 0: continue
        new_repr_inner = {"start": start, "end": start+len(t), "label": "I-"+catg, "token":t}
        start += len(t) + 1
        label_list_dict.append(new_repr_inner)
    return label_list_dict

#### Normal LABEL şeklinde ayıran ve {'start': 31, 'end': 35, 'label': 'ANAT', 'token': 'Meme'} şeklinde bir dict'e çeviren metod

In [19]:
import re

def remove_redundant_spaces_regex(text: str) -> str:
  return re.sub(r"\s+", " ", text)

In [20]:
def transform_label_normal(text: str, label: list) -> list[dict]:
    label_list_dict = []
    start : int = label[0]
    end : int = label[1]
    catg : str = label[2]
    part = text[start:end]
    token_list = remove_redundant_spaces_regex(part.strip()).split(" ")
    for i, t in enumerate(token_list):
        new_repr_inner = {"start": start, "end": start+len(t), "label": catg, "token":t}
        start += len(t) + 1
        label_list_dict.append(new_repr_inner)
    return label_list_dict

In [21]:
def transform_df_labels(df: pd.DataFrame):
    for i in range(df.shape[0]):
        text : str = df["text"].iloc[i]
        label_list : list = df["label"].iloc[i]
        transformed_labels : list = []
        for label in label_list:
            transformed_labels.extend(transform_label_normal(text,label))
        df["label"].iloc[i] = transformed_labels
    return df

In [24]:
train_df_copy = train_df.copy()
train_df_copy = transform_df_labels(train_df_copy)
test_df_copy = test_df.copy()
test_df_copy = transform_df_labels(test_df_copy)
val_df_copy = val_df.copy()
val_df_copy = transform_df_labels(val_df_copy)
train_df_copy

,text,label
236,"Her iki memeye yönelik Mammografi İncelemesi,\...","[{'start': 46, 'end': 49, 'label': 'ANAT', 'to..."
817,BİLATERAL MAMMOGRAFİ İNCELEMESİ\nHer iki meme ...,"[{'start': 32, 'end': 35, 'label': 'ANAT', 'to..."
124,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki meme A...,"[{'start': 31, 'end': 34, 'label': 'ANAT', 'to..."
131,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nMemeler ACR T...,"[{'start': 32, 'end': 39, 'label': 'ANAT', 'to..."
512,BİLATERAL MAMOGRAFİ İNCELEMESİ: \nMemeler ACR ...,"[{'start': 33, 'end': 40, 'label': 'ANAT', 'to..."
...,...,...
679,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nHer iki medio...,"[{'start': 130, 'end': 134, 'label': 'ANAT', '..."
363,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nHer iki meme ...,"[{'start': 32, 'end': 35, 'label': 'ANAT', 'to..."
716,BİLATERAL MAMOGRAFİ İNCELEMESİ\nBilateral meme...,"[{'start': 31, 'end': 40, 'label': 'ANAT', 'to..."
279,BİLATERAL MAMOGRAFİ İNCELEMESİ\nHer iki memede...,"[{'start': 31, 'end': 34, 'label': 'ANAT', 'to..."
341,BİLATERAL MAMOGRAFİ İNCELEMESİ:\nHer iki meme ...,"[{'start': 32, 'end': 35, 'label': 'ANAT', 'to..."

In [25]:
label_mapping = {
    'O': 0,
    'ANAT': 1,
    'OBS-PRESENT': 2,
    'OBS-UNCERTAIN':3,
    'OBS-ABSENT': 4,
    'IMPRESSION': 5,
}

### Dataseti CoNLL2003 datasetinin formatına getirebilmek için wordleri ayıran basit bir tokenizer (NLTKWordTokenizer) kullandım. Bu tokenizer açıkçası çok da iyi değil gibi, "." hariç diğer noktalama işaretlerini farklı bir token olarak ayırıyor ama noktayı kelimeden ayırmıyor. Bu yüzden belki başka bir tokenizer kullanılabilir. Aşağıda da textlerin ner_taglarını oluşturdum.

In [26]:
import nltk
t = nltk.tokenize.NLTKWordTokenizer()
def transform_into_ner_tags(df: pd.DataFrame):
    for i in range(df.shape[0]):
        labels = df["label"].iloc[i]
        text = df["text"].iloc[i]
        count = 0
        ner_tags = []
        tokenized_text = remove_redundant_spaces_regex(text.replace("\xa0"," ").replace("\n"," ")).split()#t.tokenize(text)
        #if i==0:print(tokenized_text)
        for token in tokenized_text:
            #if i==0:print("token: ",token, "  label:",labels[count]["token"], "   count:",count)
            if count < len(labels) and (labels[count]["token"] in token or labels[count]["token"] == token or token in labels[count]["token"]):
                ner_tags.append(label_mapping[labels[count]["label"]])
                count+=1
            else: ner_tags.append(label_mapping["O"])
        df.iloc[i] = tokenized_text, ner_tags
    df.columns = ["tokens","ner_tags"]

    return df

In [27]:
train_df_copy = transform_into_ner_tags(train_df_copy)
test_df_copy = transform_into_ner_tags(test_df_copy)
val_df_copy = transform_into_ner_tags(val_df_copy)

In [31]:
from datasets import Dataset

hf_dataset_train = Dataset.from_pandas(train_df_copy)
hf_dataset_test = Dataset.from_pandas(test_df_copy)
hf_dataset_val = Dataset.from_pandas(val_df_copy)

def conll_format(example):
    tokens = example["tokens"]
    ner_tags = example["ner_tags"]
    lines = []
    for token, tag in zip(tokens, ner_tags):
        lines.append(f"{token} {tag}")
    return "\n".join(lines)

conll_data_train = hf_dataset_train.map(lambda x: {"conll_format": conll_format(x)}, remove_columns=["tokens", "ner_tags"])
conll_data_test = hf_dataset_test.map(lambda x: {"conll_format": conll_format(x)}, remove_columns=["tokens", "ner_tags"])
conll_data_val = hf_dataset_val.map(lambda x: {"conll_format": conll_format(x)}, remove_columns=["tokens", "ner_tags"])

Map:   0%|          | 0/2000 [00:00<?, ? examples/s]

Map:   0%|          | 0/250 [00:00<?, ? examples/s]

Map:   0%|          | 0/250 [00:00<?, ? examples/s]

In [32]:
train_val_test_list = ["train","val","test"]
for i, d in enumerate([conll_data_train, conll_data_val, conll_data_test]):
    with open(f"ner_dataset_{train_val_test_list[i]}_impression_yok.conll", "w") as f:
        for entry in d["conll_format"]:
            f.write(entry + "\n\n")  # Add a blank line between sentences

In [33]:
from datasets import Dataset, DatasetDict, Features, Sequence, Value, ClassLabel

def read_conll(file_path):
    tokens = []
    ner_tags = []
    sentences = []
    sentence_tags = []
    with open(file_path, 'r') as file:
        for line in file:
            line = line.strip()
            if not line:  # Empty line means new sentence
                if tokens:
                    sentences.append(tokens)
                    ner_tags.append(sentence_tags)
                    tokens = []
                    sentence_tags = []
            else:
                token, tag = line.split()
                tokens.append(token)
                sentence_tags.append(tag)
        if tokens:  # Catch the last sentence if the file does not end with a newline
            sentences.append(tokens)
            ner_tags.append(sentence_tags)

    return {"tokens": sentences, "ner_tags": ner_tags}

# Read the data
data_dict_train = read_conll("ner_dataset_train_impression_yok.conll")
data_dict_test = read_conll("ner_dataset_test_impression_yok.conll")
data_dict_val = read_conll("ner_dataset_val_impression_yok.conll")

# Define the dataset features
features = Features({
    "tokens": Sequence(Value("string")),
    "ner_tags": Sequence(ClassLabel(names=['O','ANAT','OBS-PRESENT','OBS-UNCERTAIN','OBS-ABSENT']))
})

# Create the dataset
dataset_dict = DatasetDict({"train": Dataset.from_dict(data_dict_train, features=features), 
                            "validation":Dataset.from_dict(data_dict_val, features=features), 
                            "test":Dataset.from_dict(data_dict_test, features=features)})

# Print a sample to check if it loaded correctly
dataset_dict

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 2000
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 250
    })
    test: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 250
    })
})

In [34]:
dataset_dict.save_to_disk("ner_dataset_conll_format_impression_yok")

Saving the dataset (0/1 shards):   0%|          | 0/2000 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/250 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/250 [00:00<?, ? examples/s]

In [35]:
from datasets import load_from_disk
load_from_disk("ner_dataset_conll_format_impression_yok")

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 2000
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 250
    })
    test: Dataset({
        features: ['tokens', 'ner_tags'],
        num_rows: 250
    })
})

In [44]:
train_df_copy["ner_tags"].iloc[0]

[0,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 4,
 4,
 4,
 4,
 4,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0]

In [79]:
from transformers import pipeline, AutoModelForTokenClassification, AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained("dbmdz/bert-base-turkish-cased")

C:\Users\yusuf\AppData\Roaming\Python\Python311\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [172]:
import pandas as pd
from transformers import BertTokenizerFast
from datasets import Dataset

# Sample DataFrame
data = {
    "text": ["BİLATERAL MAMOGRAFİ\xa0İNCELEMESİ\nMeme paterni tip 'A''dir.\nBilateral cilt, cilt altı ve nipple-areolar kompleksler doğaldır.\nHer iki memede birkaç adet benign natürde kalsifikasyon izlendi. \nBilateral  memede net demarke yer kaplayan oluşum ve malign kriterler taşıyan mikrokalsifikasyon kümesi izlenmedi.\nBilateral aksiller bölgede patolojik boyut ve özellikte lenf nodu izlenmedi.\nSONUÇ: BIRADS 2"],
    "label": [[[31, 43, 'ANAT'], [44, 56, 'OBS-PRESENT'], [57, 71, 'ANAT'], [73, 82, 'ANAT'], [86, 112, 'ANAT'], [113, 122, 'OBS-PRESENT'], [123, 137, 'ANAT'], [138, 149, 'OBS-PRESENT'], [150, 164, 'OBS-PRESENT'], [165, 178, 'OBS-PRESENT'], [189, 206, 'ANAT'], [207, 239, 'OBS-ABSENT'], [242, 266, 'OBS-ABSENT'], [267, 293, 'OBS-ABSENT'], [304, 330, 'ANAT'], [331, 359, 'OBS-ABSENT'], [360, 369, 'OBS-ABSENT'], [387, 396, 'IMPRESSION']]]
}
df = pd.DataFrame(data)

# Define label mapping
label_mapping = {
    'ANAT': 0,
    'OBS-PRESENT': 1,
    'OBS-ABSENT': 2,
    'IMPRESSION': 3
}

# Convert labels to indices
def convert_labels_to_indices(label_list):
    return [[(start, end, label_mapping[label]) for start, end, label in entity_list] for entity_list in label_list]

# Apply the conversion
df['label'] = convert_labels_to_indices(df['label'])

# Load the BERT tokenizer
tokenizer = BertTokenizerFast.from_pretrained('bert-base-cased')

# Function to tokenize and align labels
def tokenize_and_align_labels(examples):
    tokenized_inputs = tokenizer(examples["text"], truncation=True, padding=True, return_offsets_mapping=True)
    
    new_labels = []
    for i, (text, entities) in enumerate(zip(examples["text"], examples["label"])):
        offset_mapping = tokenized_inputs["offset_mapping"][i]
        label_ids = [-100] * len(offset_mapping)
        
        for start, end, label in entities:
            for idx, (token_start, token_end) in enumerate(offset_mapping):
                if token_start is None or token_end is None:
                    continue
                if token_start >= start and token_end <= end:
                    label_ids[idx] = label

        new_labels.append(label_ids)

    tokenized_inputs["labels"] = new_labels
    return tokenized_inputs

# Convert the DataFrame to a Hugging Face Dataset
hf_dataset = Dataset.from_pandas(df)

# Tokenize and align labels
tokenized_dataset = hf_dataset.map(tokenize_and_align_labels, batched=True)
tokenized_dataset = tokenized_dataset.remove_columns("offset_mapping")
# Print the tokenized dataset
print(tokenized_dataset)

Using bos_token, but it is not set yet.
Using eos_token, but it is not set yet.

Map:   0%|          | 0/1 [00:00<?, ? examples/s]

Dataset({
    features: ['text', 'label', 'input_ids', 'token_type_ids', 'attention_mask', 'labels'],
    num_rows: 1
})

In [126]:
import pandas as pd
from transformers import BertTokenizerFast
from datasets import Dataset

# Sample DataFrame
data = {
    "text": ["BİLATERAL MAMOGRAFİ İNCELEMESİ\nMeme paterni tip 'A''dir.\nBilateral cilt, cilt altı ve nipple-areolar kompleksler doğaldır.\nHer iki memede birkaç adet benign natürde kalsifikasyon izlendi. \nBilateral  memede net demarke yer kaplayan oluşum ve malign kriterler taşıyan mikrokalsifikasyon kümesi izlenmedi.\nBilateral aksiller bölgede patolojik boyut ve özellikte lenf nodu izlenmedi.\nSONUÇ: BIRADS 2"],
    "label": [[[31, 43, 'ANAT'], [44, 56, 'OBS-PRESENT'], [57, 71, 'ANAT'], [73, 82, 'ANAT'], [86, 112, 'ANAT'], [113, 122, 'OBS-PRESENT'], [123, 137, 'ANAT'], [138, 149, 'OBS-PRESENT'], [150, 164, 'OBS-PRESENT'], [165, 178, 'OBS-PRESENT'], [189, 206, 'ANAT'], [207, 239, 'OBS-ABSENT'], [242, 266, 'OBS-ABSENT'], [267, 293, 'OBS-ABSENT'], [304, 330, 'ANAT'], [331, 359, 'OBS-ABSENT'], [360, 369, 'OBS-ABSENT'], [387, 396, 'IMPRESSION']]]
}
df = pd.DataFrame(data)

# Load BERT tokenizer
tokenizer = BertTokenizerFast.from_pretrained('bert-base-cased')

# Encode labels
label_mapping = {'ANAT': 0, 'OBS-PRESENT': 1, 'OBS-ABSENT': 2, 'IMPRESSION': 3}

# Tokenize text and align labels
def tokenize_and_align_labels(example):
    tokenized_input = tokenizer(example['text'], padding='max_length', truncation=True, return_offsets_mapping=True)
    tokens = tokenizer.convert_ids_to_tokens(tokenized_input['input_ids'])
    
    labels = [0] * len(tokens)  # Initialize labels with zeros
    for start, end, label in example['label'][0]:
        for idx, (token_start, token_end) in enumerate(tokenized_input['offset_mapping']):
            if token_start is None or token_end is None:
                continue
            if token_start >= start and token_end <= end:
                labels[idx] = label_mapping[label]
    return {'input_ids': tokenized_input['input_ids'], 'attention_mask': tokenized_input['attention_mask'], 'labels': labels}

# Apply tokenization and alignment to the dataset
tokenized_dataset = Dataset.from_pandas(df).map(tokenize_and_align_labels)

# Print the tokenized dataset
print(tokenized_dataset)

ArrowInvalid: ("Could not convert 'ANAT' with type str: tried to convert to int64", 'Conversion failed for column label with type object')

In [89]:
tokenized_input = tokenizer(example_text["text"])
tokenizer.convert_ids_to_tokens(tokenized_input["input_ids"])

['[CLS]',
 'BİL',
 '##AT',
 '##ER',
 '##AL',
 'MA',
 '##M',
 '##OG',
 '##RAF',
 '##İ',
 'İN',
 '##CEL',
 '##EM',
 '##ESİ',
 'Meme',
 'paran',
 '##kim',
 '##i',
 'tip',
 'A',
 'pat',
 '##ern',
 'ile',
 'uyumlu',
 '##dur',
 '.',
 'Sp',
 '##ik',
 '##üler',
 'kitle',
 ',',
 'yapısal',
 'dist',
 '##ors',
 '##iyon',
 ',',
 've',
 'mali',
 '##gn',
 '##ite',
 'şüphe',
 '##si',
 'uyandıran',
 'mikro',
 '##kal',
 '##si',
 '##fik',
 '##asyon',
 'küme',
 '##si',
 'izlenme',
 '##miştir',
 '.',
 'Sol',
 'meme',
 '##de',
 'üst',
 'dış',
 'kadr',
 '##anda',
 'birkaç',
 'adet',
 'makro',
 '##kal',
 '##si',
 '##fik',
 '##asyon',
 'mevcuttur',
 '.',
 'Bil',
 '##ater',
 '##al',
 'aksi',
 '##ll',
 '##er',
 'alanlarda',
 'lenf',
 'no',
 '##du',
 'izlenme',
 '##miştir',
 '.',
 'SONU',
 '##Ç',
 ':',
 'BI',
 '##RA',
 '##DS',
 '2',
 '[SEP]']

In [77]:
example_text["text"]

id                                                      34
text     BİLATERAL MAMOGRAFİ İNCELEMESİ\nMeme parankimi...
label    [[31, 45, ANAT], [46, 59, OBS-PRESENT], [75, 8...
Name: 771, dtype: object

In [165]:
import nltk
t = nltk.tokenize.NLTKWordTokenizer()
t.tokenize(train_df["text"].iloc[0])

['BİLATERAL',
 'MAMOGRAFİ',
 'İNCELEMESİ',
 'Meme',
 'paterni',
 'tip',
 "'",
 'A',
 "''",
 'dir.',
 'Bilateral',
 'cilt',
 ',',
 'cilt',
 'altı',
 've',
 'nipple-areolar',
 'kompleksler',
 'doğaldır.',
 'Her',
 'iki',
 'memede',
 'birkaç',
 'adet',
 'benign',
 'natürde',
 'kalsifikasyon',
 'izlendi.',
 'Bilateral',
 'memede',
 'net',
 'demarke',
 'yer',
 'kaplayan',
 'oluşum',
 've',
 'malign',
 'kriterler',
 'taşıyan',
 'mikrokalsifikasyon',
 'kümesi',
 'izlenmedi.',
 'Bilateral',
 'aksiller',
 'bölgede',
 'patolojik',
 'boyut',
 've',
 'özellikte',
 'lenf',
 'nodu',
 'izlenmedi.',
 'SONUÇ',
 ':',
 'BIRADS',
 '2']

In [71]:
train_df["text"].iloc[0].replace("\xa0"," ").replace("\n"," ")

['BİLATERAL',
 'MAMOGRAFİ',
 'İNCELEMESİ',
 'Meme',
 'paterni',
 'tip',
 "'A''dir.",
 'Bilateral',
 'cilt,',
 'cilt',
 'altı',
 've',
 'nipple-areolar',
 'kompleksler',
 'doğaldır.',
 'Her',
 'iki',
 'memede',
 'birkaç',
 'adet',
 'benign',
 'natürde',
 'kalsifikasyon',
 'izlendi.',
 '',
 'Bilateral',
 '',
 'memede',
 'net',
 'demarke',
 'yer',
 'kaplayan',
 'oluşum',
 've',
 'malign',
 'kriterler',
 'taşıyan',
 'mikrokalsifikasyon',
 'kümesi',
 'izlenmedi.',
 'Bilateral',
 'aksiller',
 'bölgede',
 'patolojik',
 'boyut',
 've',
 'özellikte',
 'lenf',
 'nodu',
 'izlenmedi.',
 'SONUÇ:',
 'BIRADS',
 '2']

In [37]:
train_df["label"].iloc[0]

[[31, 43, 'ANAT'],
 [44, 56, 'OBS-PRESENT'],
 [57, 71, 'ANAT'],
 [73, 82, 'ANAT'],
 [86, 112, 'ANAT'],
 [113, 122, 'OBS-PRESENT'],
 [123, 137, 'ANAT'],
 [138, 149, 'OBS-PRESENT'],
 [150, 164, 'OBS-PRESENT'],
 [165, 178, 'OBS-PRESENT'],
 [189, 206, 'ANAT'],
 [207, 239, 'OBS-ABSENT'],
 [242, 266, 'OBS-ABSENT'],
 [267, 293, 'OBS-ABSENT'],
 [304, 330, 'ANAT'],
 [331, 359, 'OBS-ABSENT'],
 [360, 369, 'OBS-ABSENT'],
 [387, 396, 'IMPRESSION']]